@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body > #root > div {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct {
    color: #3fa145;
}

.incorrect {
    color: #b84040;
}
